* {
    padding: 0;
    margin: 0;
}

body{
	margin: 0 auto;
    background-color: white;
}

#wrapper {
	max-width: 840px;
	margin: 0 auto;
    display: block;
/*    border-radius: 5px;*/
	background-color: #4842b8;
}

nav{
    display: block;
	background-color: #4842b8;
    border-bottom-color: aliceblue;
    border-bottom-width: thin;
}

ul li{
    display: inline-block;
	padding: 10px;
}

nav a{
	color: white;
    text-decoration: none;
}

@media screen and (min-width: 40.5em) {
    section {
        height: 100%;
        min-height: 1024px;
    }
}

section {
	padding: 0;
    margin: 0;
	height: 1024px;
 	background-color: whitesmoke;
}
footer {
	height: 40px;
}

iframe {
    margin: 0;
}

iframe:focus { 
    outline: none;
}

iframe[seamless] { 
    display: block;
}
